body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .calculator {
    border: 1px solid #141313;
    border-radius: 30px; 
    padding: 60px 0px 35px 0px;
    width: 250px;
    text-align: center;
    background-color: #373434 ;
  }
  
  .keys button {
    width: 52px;
    height: 52px;
    margin: 1px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #d6d1d1fb;
  }
  #simbolo {
    background-color: rgba(255, 127, 2, 0.75);
  }
  
  #display{
    border: 0px solid #000000;
    background-color: #373434;
    border-radius: 2px;
    height: 70px;
    width: 200px;
    font-size: 3rem;
    text-align: right;
    color: #fff;
    border

  }
  .keys button:hover {
    width: 52px;
    height: 52px;
    margin: 1px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
  }