:root {
	--color-orange: #ff9f0a;
}

body {
  font-family: 'Courier New', Courier, monospace;
	/*serve pra posicionar um elemento dentro do container*/
	display: flex;
	/* posicionamento horizontal do conteúdo */
	justify-content: center;
	/* posicionar elemento verticalmente */
	align-items: center;
	/* Altura do body (vh-viewHeight "tela") */
	height: 100vh;
  margin: unset;
  font-weight: 400;
}

.calculadora {
  background-color: rgb(26, 26, 26);
	border-width: 5px;
  /* arredondar as extremidades do elemento */
	border-radius: 20px;
  /* espaçamento interno  */
	padding: 8px;
  border-image: initial;
  border-style: solid;
  
}

.botoes {
  display: block;
  
}

.botoes button {
  width: 80px;
  flex-direction: column;
  height: 70px;

}
